body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#29bf9a;
}

#pick_interviewer{
  text-align:center;
  color: white;
  font-size: 60;
}

.avataricons{
  display: inline;
}
